<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lfc.myappweight">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name=".MyWidgetOne">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_widget_one_info"/>
        </receiver>
        <receiver
            android:name=".MyWidgetTwo"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.lfc.myappweight.action.CHANGE_IMAGE"/>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_widget_two_info"/>
        </receiver>

        <service
            android:name=".service.ListViewService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver
            android:name=".demo.MulAppWidgetProvider"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.example.joy.action.CHANGE_IMAGE"/>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/mul_app_widget_provider_info">
            </meta-data>
        </receiver>

        <service
            android:name=".demo.ListViewService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver android:name=".MyTimeWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_time_widget_info"/>
        </receiver>

        <service
            android:name=".MyTimeWidget$MyTimeService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>

        <!--图片展示-->
        <receiver android:name=".MyImgShowWeight">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_img_show_weight_info"/>
        </receiver>
        <service
            android:name=".MyImgShowWeight$MyService_ImgShow"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"></service>


    </application>

</manifest>